body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ================= NAVBAR ================= */
nav {
  width: 100%;
  background-color: black;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 30px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: yellow;
}

#auth-section button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#auth-section button:hover {
  background-color: darkred;
}

.payment-card {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.payment-card input {
  width: 95%;
  padding: 8px;
  margin: 10px 0;
}

.payment-card button {
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

.payment-card button:hover {
  background: #218838;
}

h2 {
  text-align: center;
}

/* ================= FOOTER ================= */
footer {
  text-align: center;
  padding: 20px;
  background-color: black;
  color: white;
}

footer div {
  display: inline-block;
  padding: 10px;
}

footer div a {
  padding: 4px;
  transition: 0.5ms;
}

footer div a:hover {
  color: rgb(247, 233, 113);
}

footer div i {
  padding: 4px;
  transition: 0.5ms;
}

footer div i:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#back-to-top {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgb(56, 55, 55);
  padding: 15px;
  transition: 0.5ms;
}

#back-to-top a {
  color: white;
}
#back-to-top:hover {
  background-color: rgb(87, 84, 84);
  cursor: pointer;
}

/* Responsive (Mobile) */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    text-align: center;
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);

    padding: 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
  }

  nav ul li a:hover {
    color: yellow;
  }
}
